.pager {
    padding: 15px;
    margin: 10px;
}
a:not(.BordNon) {
    border: 1px solid lightgrey;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: #a65dff;
}
.BordNon {
    text-decoration: none;
    color: #a65dff;
}
.BordNon1 {
    text-decoration: none;
    color: #a65dff;
    vertical-align: bottom ;
}
a:hover:not(.BordNon) {
    background: #a65dff;
    color: white;
}